
# The sphinx build directory
docs/build/**
build
# ignore some things produced in the container
*/.bash_history
*/.gitconfig
*/.viminfo
*/.wget-hsts
.bash_history
.gitconfig
.viminfo
.wget-hsts
.vim
.cache
.DS_Store
*/.DS_Store

# local testing artifacts
logs/
