
# The sphinx build directory
docs/build/**
build

# ignore some things produced in the container
*/.bash_history
*/.gitconfig
*/.viminfo
*/.wget-hsts
.bash_history
.gitconfig
.viminfo
.wget-hsts
.vim
.DS_Store
*/.DS_Store
.subversion
.python_history

# local testing artifacts
logs/
