name: TEM Tests

on:
    push:
        branches: [main]
    pull_request:
    schedule:
      - cron: "0 0 * * *"
    workflow_dispatch:

jobs:
### SMOKE TESTS
    tem-warming:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repo
          uses: actions/checkout@v6
        - name: Create docker volumes
          run: |
            docker volume create inputdata
            docker volume create output
        - name: Get input data
          run: |
            docker run --rm -v "$(pwd):/home/modex_user" -v inputdata:/mnt/inputdata -v output:/mnt/output yuanfornl/ngee-arctic-modex25:models-main-latest /home/modex_user/tools/scripts/get_inputdata.sh
        - name: Run test case for site
          run: |
            docker run -i --rm -v "$(pwd):/home/modex_user" \
              -v inputdata:/mnt/inputdata \
              -v output:/mnt/output \
              yuanfornl/ngee-arctic-modex25:models-main-latest \
              bash -s <<'EOF'
              set -euo pipefail
              cp -r /opt/dvmdostem/demo-data/* /mnt/inputdata/TEM/
              /home/modex_user/model_examples/TEM/glue_transient_scenario.py /mnt/inputdata/TEM/cru-ts40_ar5_rcp85_ncar-ccsm4_toolik_field_station_10x10
              cp -r /mnt/inputdata/TEM/cru-ts40_ar5_rcp85_ncar-ccsm4_toolik_field_station_10x10 /mnt/inputdata/TEM/cru-ts40_ar5_rcp85_ncar-ccsm4_toolik_field_station_10x10_warming_2.6C_JJAS_2019
              /home/modex_user/model_examples/TEM/modify_air_temperature.py \
                --input-file /mnt/inputdata/TEM/cru-ts40_ar5_rcp85_ncar-ccsm4_toolik_field_station_10x10_warming_2.6C_JJAS_2019/historic-climate.nc \
                --months 6 7 8 9 \
                --years 2019 \
                --deviation 2.6
              mv /mnt/inputdata/TEM/cru-ts40_ar5_rcp85_ncar-ccsm4_toolik_field_station_10x10_warming_2.6C_JJAS_2019/modified_historic-climate.nc \
                /mnt/inputdata/TEM/cru-ts40_ar5_rcp85_ncar-ccsm4_toolik_field_station_10x10_warming_2.6C_JJAS_2019/historic-climate.nc
              mkdir -p /mnt/output/tem/tem_ee1_warming
              cd /mnt/output/tem/tem_ee1_warming
              pyddt-swd --input-data \
                /mnt/inputdata/TEM/cru-ts40_ar5_rcp85_ncar-ccsm4_toolik_field_station_10x10 \
                control
              pyddt-swd --input-data \
                /mnt/inputdata/TEM/cru-ts40_ar5_rcp85_ncar-ccsm4_toolik_field_station_10x10_warming_2.6C_JJAS_2019 \
                warming_2.6C_JJAS_2019
              cd control
              pyddt-runmask --reset --yx 0 0 run-mask.nc
              pyddt-outspec config/output_spec.csv --on GPP m p
              pyddt-outspec config/output_spec.csv --on LAYERDZ m l
              pyddt-outspec config/output_spec.csv --on TLAYER m l
              dvmdostem -f config/config.js -p 15 -e 10 -s 10 -t 150 -n 0 -l monitor
            EOF
   